<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ngertiit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchAll"></activity>
        <activity android:name=".KontenLifehackAct" />
        <activity android:name=".CategoryLifehack" />
        <activity
            android:name=".BrowserAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KontenSolusiAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonasiAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestApiSDG"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KritikAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TentangAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KamusAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LifeHackAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SolutionAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategorySolution"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splashscreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="com.novoda.merlin.MerlinService"
            android:exported="false" />
    </application>

</manifest>